<div class="div-box">
	<a asp-area="" asp-controller="ViewWeatherData" asp-action="Index">Просмотр погодных условий</a>
	<a asp-area="Admin" asp-controller="UploadWeatherData" asp-action="Index">Загрузка погодных условий</a>
</div>
